<h2>Write today's workout!</h2>
<h4>PICK UP TO 3 SKILLS FOR EACH TARGET ACTION</h4>

<%= form_for @workout, as: :skills do |f| %>

  <% @targets.each do |t| %>
    <%= f.label :skill, t %>
    <br>
    <%= collection_select "workout[#{t}]", "skill_1", Skill.for_target(t), :id, :name, multiple: true, include_blank: true %>
    <br>
    <%= collection_select "workout[#{t}]", "skill_2", Skill.for_target(t), :id, :name, multiple: true, include_blank: true %>
    <br>
    <%= collection_select "workout[#{t}]", "skill_3", Skill.for_target(t), :id, :name, multiple: true, include_blank: true %>
    <br><br>

  <% end %>

  <div class="actions">
    <%= f.submit "Publish Workout" %>
  </div>


<% end %>
