<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=684674998632236&autoLogAppEvents=1"></script>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
  </div><br>

  <div class="field">
    Coach&#63; <%= f.check_box :coach %> <br />
  </div><br>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div><br>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<div class="actions">
  <%= f.submit "Sign up" %>
</div><br>

<% end %>


<div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div><br>
<%= button_to "Log in with Facebook", omniauth_authorize_path(resource_name, resource_class.omniauth_providers.first), :method => "get", class: "fb-login-button" %>
<%= link_to 'Log in with Facebook', omniauth_authorize_path(resource_name, resource_class.omniauth_providers.first), :method => "get", class: "fb-login-button"%>
